---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  Self-taught full stack software developer with diverse skill set. 
    Smart Contracts with Solidity, front-end development with React and Next.js, 
    server-side development with Node.js, and database management using SQL.
</div>

  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High School"
      subtitle="2003 to 2006 at Gaffney High School, Gaffney, SC"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Solidity</li>
    <li>Javascript</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Node.js</li>
    <li>SQL</li>

  </ul>
</BaseLayout>
