---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  Self-taught full stack software developer with diverse skill set. 
    Smart Contracts with Solidity, front-end development with React and Next.js, 
    server-side development with Node.js, and database management using SQL.
</div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://developers.google.com/profile/u/ryanparkr" target="_blank"> Google Developer Profile</a>
    </li>
    <li>
      <a href="https://github.com/BullishAF" target="_blank"> Github</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Programming Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Solidity</li>
    <li>Javascript</li>
    <li>React</li>
    <li>Next.js</li>
    <li>Node.js</li>
    <li>SQL</li>

  </ul>
</BaseLayout>
